@charset "UTF-8";
.contenedor {
  display: grid;
  grid-template-areas: "logo nav" "ppal ppal" "pie pie";
  grid-template-rows: 10vh 220vh 5vh;
  grid-template-columns: 50% 50%;
  animation-name: contenedor;
  animation-duration: 3s; }

@keyframes contenedor {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.contenedor {
  display: grid;
  grid-template-areas: "logo nav" "ppal ppal" "pie pie";
  grid-template-rows: 10vh 220vh 5vh;
  grid-template-columns: 50% 50%;
  animation-name: contenedor;
  animation-duration: 3s; }

@keyframes contenedor {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

header {
  grid-area: logo;
  align-self: center;
  margin-left: 12vw; }
  header img {
    width: 30%;
    transition: all 0.3s ease-in-out;
    animation-name: colorTexto;
    animation-duration: 3s; }
    header img:hover {
      opacity: 0.5; }

.contenedor {
  display: grid;
  grid-template-areas: "logo nav" "ppal ppal" "pie pie";
  grid-template-rows: 10vh 220vh 5vh;
  grid-template-columns: 50% 50%;
  animation-name: contenedor;
  animation-duration: 3s; }

@keyframes contenedor {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

nav {
  grid-area: nav;
  align-self: center;
  justify-self: right;
  margin-right: 1vw;
  animation-name: colorTexto;
  animation-duration: 3s; }
  nav ul {
    display: flex;
    list-style: none; }
    nav ul li {
      transition: all 0.3s ease-in-out; }
      nav ul li:hover {
        transform: scale(1.03); }
        nav ul li:hover .subMenu {
          display: block; }
      nav ul li .active {
        font-weight: 900; }
      nav ul li a {
        padding: 1.5vh;
        font-size: 2.2vh;
        text-decoration: none;
        color: black;
        transition: all 0.3s ease-in-out; }
        nav ul li a:hover {
          opacity: 0.5; }
      nav ul li ul {
        display: none;
        list-style: none;
        position: absolute; }
        nav ul li ul li {
          margin-top: 2vh;
          justify-self: left; }

.contenedor {
  display: grid;
  grid-template-areas: "logo nav" "ppal ppal" "pie pie";
  grid-template-rows: 10vh 220vh 5vh;
  grid-template-columns: 50% 50%;
  animation-name: contenedor;
  animation-duration: 3s; }

@keyframes contenedor {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

/*Contenido principal*/
main {
  grid-area: ppal;
  display: grid;
  grid-template-areas: ". . residencial" ". . edificio" ". . proy" ". . wa" "quienes texto texto" "project project project";
  grid-template-rows: 40vh 15vh 10vh 30vh 60vh 60vh;
  grid-template-columns: 30% 40% 30%;
  /*Título secundario - Residencial*/
  /*Título principal - Edificio A1*/
  /*Botón Ver proyecto*/
  /*Línea divisoria*/
  /* Título Sobre Nosotros*/
  /*Párrafos sobre nosotros*/
  /*Línea divisoria*/
  /*Nuestro proyectos*/
  /*Línea divisoria*/
  /*Logo de WhatsApp*/ }
  main h3 {
    font-weight: 600;
    grid-area: residencial;
    align-self: end;
    animation-name: colorTexto;
    animation-duration: 3s; }
  main h1 {
    font-size: 7vh;
    font-weight: 900;
    grid-area: edificio;
    align-self: start;
    animation-name: colorTexto;
    animation-duration: 3s; }
  main .tituloVerProyecto {
    font-size: 2.5vh;
    font-weight: 500;
    text-decoration: none;
    color: black;
    grid-area: proy;
    align-self: start;
    transition: all 0.3s ease-in-out;
    animation-name: colorTexto;
    animation-duration: 5s; }
    main .tituloVerProyecto:hover {
      opacity: 0.5;
      font-size: 2.55vh; }
  main .lineaDivisoria {
    position: absolute;
    margin-top: 110vh;
    justify-self: center;
    background-color: black;
    height: 0.5px;
    width: 50vw;
    opacity: 0.3; }
  main h2 {
    grid-area: quienes;
    align-self: start;
    margin-top: 20vh;
    margin-left: 5vw;
    font-size: 5vh; }
  main .sobreNosotrosTexto {
    margin-top: 20vh;
    margin-left: 40vh;
    margin-right: 20vh;
    grid-area: texto;
    align-self: start;
    /*Primer título*/
    /*Párrafo principal*/
    /*Párrafo secundario*/
    /*Botón conocer más*/ }
    main .sobreNosotrosTexto h6 {
      font-size: 1.8vh;
      opacity: 0.5; }
    main .sobreNosotrosTexto .parrafoUno {
      margin-top: 2vh;
      font-weight: 600;
      font-size: 2.2vh; }
    main .sobreNosotrosTexto .parrafoDos {
      font-size: 2vh;
      margin-top: 3vh;
      margin-bottom: 4vh;
      column-count: 2;
      column-gap: 50% 50%; }
    main .sobreNosotrosTexto a {
      color: black;
      font-weight: 300;
      font-size: 2.2vh;
      transition: all 0.3s ease-in-out; }
      main .sobreNosotrosTexto a:hover {
        opacity: 0.5;
        font-size: 2.25vh; }
  main .lineaDivisoriaDos {
    position: absolute;
    margin-top: 160vh;
    justify-self: center;
    background-color: black;
    height: 0.5px;
    width: 50vw;
    opacity: 0.3; }
  main .projectsMain {
    grid-area: project;
    display: grid;
    grid-template-areas: "titulo projectOne projectTwo" "texto projectOne projectTwo";
    grid-template-rows: 40% 60%;
    grid-template-columns: 25% 37.5% 37.5%;
    /*Títulos proyectos*/
    /*Párrafo explicativo de nuestros proyectos*/
    /*Primer proyecto*/
    /*Segundo proyecto*/ }
    main .projectsMain .projectsTitulo {
      grid-area: titulo;
      align-self: start;
      margin-top: 10vh;
      margin-left: 5vw;
      font-size: 4.6vh; }
    main .projectsMain .projectsParrafo {
      grid-area: texto;
      margin-left: 5vw;
      justify-self: center;
      font-weight: 2.5vh;
      font-size: 2vh;
      /*Botón ver proyectos*/ }
      main .projectsMain .projectsParrafo a {
        color: black;
        font-weight: 600;
        font-size: 2vh;
        transition: all 0.3s ease-in-out; }
        main .projectsMain .projectsParrafo a:hover {
          opacity: 0.5;
          font-size: 2.05vh; }
    main .projectsMain .projectOne {
      grid-area: projectOne;
      margin-top: 12vh;
      margin-left: 5vw;
      /*Nombre del proyecto*/
      /*Nombre de la ubicación del proyecto*/ }
      main .projectsMain .projectOne a img {
        transition: all 0.3s ease-in-out;
        width: 100%; }
        main .projectsMain .projectOne a img:hover {
          opacity: 0.8;
          transform: scale(1.02); }
      main .projectsMain .projectOne .tituloProjectOne {
        font-size: 2vh;
        margin-top: 2vh; }
      main .projectsMain .projectOne .ubicacionProjectOne {
        margin-top: 1vh;
        opacity: 0.3; }
    main .projectsMain .projectTwo {
      grid-area: projectTwo;
      margin-top: 12vh;
      margin-right: 5vw;
      /*Nombre del proyecto*/
      /*Nombre de la ubicación del proyecto*/ }
      main .projectsMain .projectTwo a img {
        width: 100%;
        transition: all 0.3s ease-in-out; }
        main .projectsMain .projectTwo a img:hover {
          opacity: 0.8;
          transform: scale(1.02); }
      main .projectsMain .projectTwo .tituloProjectTwo {
        font-size: 2vh;
        margin-top: 2vh; }
      main .projectsMain .projectTwo .ubicacionProjectTwo {
        margin-top: 1vh;
        opacity: 0.3; }
  main .lineaDivisoriaTres {
    position: absolute;
    margin-top: 215vh;
    justify-self: center;
    background-color: black;
    height: 0.5px;
    width: 50vw;
    opacity: 0.3; }
  main .logoWhatsapp {
    position: fixed;
    margin-left: 90vw;
    margin-top: 75vh;
    animation-name: colorTexto;
    animation-duration: 3s; }
    main .logoWhatsapp img {
      width: 90%;
      transition: all 0.3s ease-in-out; }
      main .logoWhatsapp img:hover {
        opacity: 0.8;
        transform: scale(1.05); }

.contenedor {
  display: grid;
  grid-template-areas: "logo nav" "ppal ppal" "pie pie";
  grid-template-rows: 10vh 220vh 5vh;
  grid-template-columns: 50% 50%;
  animation-name: contenedor;
  animation-duration: 3s; }

@keyframes contenedor {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

footer {
  grid-area: pie;
  display: grid;
  grid-template-areas: "rrss copy";
  grid-template-columns: 45% 55%;
  animation-name: colorTexto;
  animation-duration: 5s; }
  footer ul {
    grid-area: rrss;
    display: flex;
    justify-self: right;
    margin-right: 5vw;
    list-style: none;
    align-self: center;
    transition: all 0.3s ease-in-out; }
  footer li a svg {
    transition: all 0.3s ease-in-out; }
    footer li a svg:hover {
      opacity: 0.8;
      transform: scale(1.05); }
  footer h2 {
    grid-area: copy;
    font-size: 2vh;
    font-weight: 300;
    align-self: center;
    color: black; }

.contenedorNosotros {
  display: grid;
  grid-template-areas: "logo nav" "ppal ppal" "pie pie";
  grid-template-rows: 10vh 295vh 5vh;
  grid-template-columns: 50% 50%;
  animation-name: contenedor;
  animation-duration: 3s; }

@keyframes contenedor {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.botonSoli {
  position: absolute;
  width: 27.5vw;
  height: 75vh;
  margin-left: 45.65vw;
  margin-top: 18.33vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonSoli:hover .imagenSoli {
    display: block; }

.imagenSoli {
  display: none;
  position: absolute;
  width: 27.9vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

.botonJuanjo {
  position: absolute;
  width: 25vw;
  height: 85vh;
  margin-left: 73.5vw;
  margin-top: 13.2vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonJuanjo:hover .imagenJuanjo {
    display: block; }

.imagenJuanjo {
  display: none;
  position: absolute;
  width: 25.4vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

.botonJoseLuis {
  position: absolute;
  width: 30vw;
  height: 75vh;
  margin-left: 16.7vw;
  margin-top: 23.08vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonJoseLuis:hover .imagenJoseLuis {
    display: block; }

.imagenJoseLuis {
  display: none;
  position: absolute;
  width: 30.145vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

.botonBelu {
  position: absolute;
  width: 20vw;
  height: 75vh;
  margin-top: 26.4vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonBelu:hover .imagenBelu {
    display: block; }

.imagenBelu {
  display: none;
  position: absolute;
  width: 19.6vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

.contenedorNosotros {
  display: grid;
  grid-template-areas: "logo nav" "ppal ppal" "pie pie";
  grid-template-rows: 10vh 295vh 5vh;
  grid-template-columns: 50% 50%;
  animation-name: contenedor;
  animation-duration: 3s; }

@keyframes contenedor {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.botonSoli {
  position: absolute;
  width: 27.5vw;
  height: 75vh;
  margin-left: 45.65vw;
  margin-top: 18.33vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonSoli:hover .imagenSoli {
    display: block; }

.imagenSoli {
  display: none;
  position: absolute;
  width: 27.9vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

.botonJuanjo {
  position: absolute;
  width: 25vw;
  height: 85vh;
  margin-left: 73.5vw;
  margin-top: 13.2vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonJuanjo:hover .imagenJuanjo {
    display: block; }

.imagenJuanjo {
  display: none;
  position: absolute;
  width: 25.4vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

.botonJoseLuis {
  position: absolute;
  width: 30vw;
  height: 75vh;
  margin-left: 16.7vw;
  margin-top: 23.08vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonJoseLuis:hover .imagenJoseLuis {
    display: block; }

.imagenJoseLuis {
  display: none;
  position: absolute;
  width: 30.145vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

.botonBelu {
  position: absolute;
  width: 20vw;
  height: 75vh;
  margin-top: 26.4vh;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }
  .botonBelu:hover .imagenBelu {
    display: block; }

.imagenBelu {
  display: none;
  position: absolute;
  width: 19.6vw;
  animation-name: contenedor;
  animation-duration: 1s;
  transition: all 1s ease-in-out; }

/*Contenido principal Nosotros*/
.contenidoPrincipalNosotros {
  grid-area: ppal;
  display: grid;
  grid-template-areas: ". . nuestro" ". . equipo" ". . ." "part part part";
  grid-template-rows: 60vh 5vh 50vh 100vh;
  grid-template-columns: 30% 40% 30%;
  /*Título secundario - Nuestro*/
  /*Título principal - Equipo*/
  /*Línea divisoria*/
  /*Tarjetas de participantes del equipo*/ }
  .contenidoPrincipalNosotros h3 {
    font-weight: 600;
    font-size: 4.6vh;
    grid-area: nuestro;
    align-self: end;
    animation-name: colorTexto;
    animation-duration: 3s; }
  .contenidoPrincipalNosotros h1 {
    font-size: 9vh;
    font-weight: 900;
    grid-area: equipo;
    align-self: start;
    animation-name: colorTexto;
    animation-duration: 3s; }
  .contenidoPrincipalNosotros .lineaDivisoriaNosotros {
    position: absolute;
    margin-top: 110vh;
    justify-self: center;
    background-color: black;
    height: 0.5px;
    width: 60vw;
    opacity: 0.3; }
  .contenidoPrincipalNosotros .participantes {
    grid-area: part;
    display: grid;
    grid-template-areas: "soli soli soli" "belu belu belu" "jl jl jl" "jj jj jj";
    grid-template-columns: 80% 20%;
    grid-template-rows: 45vh 45vh 45vh 45vh;
    /*Línea divisoria*/
    /*Línea divisoria*/
    /*Línea divisoria*/
    /*Línea divisoria*/ }
    .contenidoPrincipalNosotros .participantes .cartaSoli {
      grid-area: soli;
      display: grid;
      grid-template-areas: "titulo imagen" "texto imagen";
      grid-template-rows: 10vh 25vh; }
      .contenidoPrincipalNosotros .participantes .cartaSoli img {
        grid-area: imagen;
        height: 100%;
        margin-right: 20vw; }
      .contenidoPrincipalNosotros .participantes .cartaSoli h4 {
        grid-area: titulo;
        font-size: 4.6vh;
        margin-left: 20vw;
        font-weight: 300; }
      .contenidoPrincipalNosotros .participantes .cartaSoli p {
        grid-area: texto;
        margin-left: 20vw;
        margin-right: 5vw;
        font-size: 2.5vh;
        font-weight: 500;
        font-style: italic;
        opacity: 0.5; }
    .contenidoPrincipalNosotros .participantes .lineaDivisoriaNosotrosDos {
      position: absolute;
      margin-top: 40vh;
      justify-self: center;
      background-color: black;
      height: 0.5px;
      width: 60vw;
      opacity: 0.3; }
    .contenidoPrincipalNosotros .participantes .cartaBelu {
      grid-area: belu;
      display: grid;
      grid-template-areas: "titulo imagen" "texto imagen";
      grid-template-rows: 10vh 25vh; }
      .contenidoPrincipalNosotros .participantes .cartaBelu img {
        grid-area: imagen;
        height: 100%;
        margin-right: 20vw; }
      .contenidoPrincipalNosotros .participantes .cartaBelu h4 {
        grid-area: titulo;
        font-size: 5vh;
        margin-left: 20vw;
        font-weight: 300; }
      .contenidoPrincipalNosotros .participantes .cartaBelu p {
        grid-area: texto;
        margin-left: 20vw;
        margin-right: 5vw;
        font-size: 2.5vh;
        font-weight: 500;
        font-style: italic;
        opacity: 0.5; }
    .contenidoPrincipalNosotros .participantes .lineaDivisoriaNosotrosTres {
      position: absolute;
      margin-top: 85vh;
      justify-self: center;
      background-color: black;
      height: 0.5px;
      width: 60vw;
      opacity: 0.3; }
    .contenidoPrincipalNosotros .participantes .cartaJl {
      grid-area: jl;
      display: grid;
      grid-template-areas: "titulo imagen" "texto imagen";
      grid-template-rows: 10vh 25vh; }
      .contenidoPrincipalNosotros .participantes .cartaJl img {
        grid-area: imagen;
        height: 100%;
        margin-right: 20vw; }
      .contenidoPrincipalNosotros .participantes .cartaJl h4 {
        grid-area: titulo;
        font-size: 5vh;
        margin-left: 20vw;
        font-weight: 300; }
      .contenidoPrincipalNosotros .participantes .cartaJl p {
        grid-area: texto;
        margin-left: 20vw;
        margin-right: 5vw;
        font-size: 2.5vh;
        font-weight: 300;
        font-style: italic;
        opacity: 0.5; }
    .contenidoPrincipalNosotros .participantes .lineaDivisoriaNosotrosCuatro {
      position: absolute;
      margin-top: 130vh;
      justify-self: center;
      background-color: black;
      height: 0.5px;
      width: 60vw;
      opacity: 0.3; }
    .contenidoPrincipalNosotros .participantes .cartaJj {
      grid-area: jj;
      display: grid;
      grid-template-areas: "titulo imagen" "texto imagen";
      grid-template-rows: 10vh 25vh; }
      .contenidoPrincipalNosotros .participantes .cartaJj img {
        grid-area: imagen;
        height: 100%;
        margin-right: 20vw; }
      .contenidoPrincipalNosotros .participantes .cartaJj h4 {
        grid-area: titulo;
        font-size: 5vh;
        margin-left: 20vw;
        font-weight: 300; }
      .contenidoPrincipalNosotros .participantes .cartaJj p {
        margin-left: 20vw;
        margin-right: 5vw;
        font-size: 2.5vh;
        font-weight: 300;
        font-style: italic;
        opacity: 0.5; }
    .contenidoPrincipalNosotros .participantes .lineaDivisoriaNosotrosCinco {
      position: absolute;
      margin-top: 175vh;
      justify-self: center;
      background-color: black;
      height: 0.5px;
      width: 60vw;
      opacity: 0.3; }

.contenedorProyectos {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pieProy pieProy pieProy";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  background-color: white;
  animation-name: contenedorProyectos;
  animation-duration: 3s; }

@keyframes contenedorProyectos {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.contenedorProyectos {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pieProy pieProy pieProy";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  background-color: white;
  animation-name: contenedorProyectos;
  animation-duration: 3s; }

@keyframes contenedorProyectos {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.contenidoPrincipalProyectos {
  grid-area: ppal;
  display: grid;
  grid-template-areas: ". nuestros ." ". proyectos ." ". img .";
  grid-template-rows: 5vh 8vh 72vh;
  grid-template-columns: 12vw 76vw 12vw; }
  .contenidoPrincipalProyectos h3 {
    font-weight: 600;
    grid-area: nuestros;
    align-self: start;
    animation-name: colorTexto;
    animation-duration: 3s; }
  .contenidoPrincipalProyectos h1 {
    font-size: 7vh;
    font-weight: 900;
    grid-area: proyectos;
    align-self: end;
    animation-name: colorTexto;
    animation-duration: 3s; }
  .contenidoPrincipalProyectos .carousel {
    height: 72vh;
    grid-area: img;
    animation-name: carousel;
    animation-duration: 3s; }
    .contenidoPrincipalProyectos .carousel div {
      height: 100%; }
      .contenidoPrincipalProyectos .carousel div img {
        height: 100%; }

.contenedorProyectos {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pieProy pieProy pieProy";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  background-color: white;
  animation-name: contenedorProyectos;
  animation-duration: 3s; }

@keyframes contenedorProyectos {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.piePaginaProyectos {
  grid-area: pieProy; }
  .piePaginaProyectos ul {
    position: absolute;
    margin-bottom: 40vh;
    list-style: none;
    transition: all 0.3s ease-in-out; }
  .piePaginaProyectos li a svg {
    transition: all 0.3s ease-in-out; }
    .piePaginaProyectos li a svg:hover {
      opacity: 0.8;
      transform: scale(1.05); }
  .piePaginaProyectos .copyrightProyectos {
    position: absolute;
    margin-bottom: 40vh;
    font-size: 1.8vh;
    color: black;
    transform: rotate(-90deg); }
    .piePaginaProyectos .copyrightProyectos strong {
      font-weight: 600; }

.contenedorContacto {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pie pie pie";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  animation-name: contenedorProyectos;
  animation-duration: 3s; }

@keyframes contenedorProyectos {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.contenedorContacto {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pie pie pie";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  animation-name: contenedorProyectos;
  animation-duration: 3s; }

@keyframes contenedorProyectos {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.contenidoPrincipalContacto {
  grid-area: ppal;
  display: grid;
  grid-template-areas: "titulo titulo" ". cuadro" "boton .";
  grid-template-rows: 5vh 70vh 10vh;
  grid-template-columns: 70vw 30vw; }
  .contenidoPrincipalContacto h2 {
    grid-area: titulo;
    margin-top: 1px;
    margin-left: 12vw; }
  .contenidoPrincipalContacto .ubicacion {
    grid-area: cuadro;
    background-color: white;
    height: 50vh;
    width: 20vw;
    padding: 2vw;
    margin-top: 10vh;
    display: grid;
    grid-template-areas: "ubicacion ubicacion" "direccion direccion" "cp cp" "email email" "contactate contactate" "telefono telefono" "llamar llamar";
    grid-template-rows: 5vh 5vh 5vh 10vh 5vh 15vh 5vh; }
    .contenidoPrincipalContacto .ubicacion .tituloUbicacion {
      grid-area: ubicacion;
      font-size: 3.2vh; }
    .contenidoPrincipalContacto .ubicacion .tituloDireccion {
      grid-area: direccion; }
    .contenidoPrincipalContacto .ubicacion .tituloCp {
      grid-area: cp; }
    .contenidoPrincipalContacto .ubicacion .tituloEmail {
      grid-area: email; }
    .contenidoPrincipalContacto .ubicacion .tituloContactate {
      grid-area: contactate; }
    .contenidoPrincipalContacto .ubicacion .tituloTelefono {
      grid-area: telefono;
      font-size: 4.6vh;
      align-self: start; }
    .contenidoPrincipalContacto .ubicacion .tituloLlamar {
      grid-area: llamar;
      font-size: 3.2vh;
      text-decoration: none;
      color: black; }
      .contenidoPrincipalContacto .ubicacion .tituloLlamar strong {
        background-color: #FFC229;
        padding: 1vh;
        border-radius: 2px; }
        .contenidoPrincipalContacto .ubicacion .tituloLlamar strong:hover {
          transform: scale(1.05);
          opacity: 0.8; }
  .contenidoPrincipalContacto .botonTexto {
    position: absolute;
    width: 5vw;
    margin-left: 34vw;
    margin-top: 40vh; }
  .contenidoPrincipalContacto img {
    width: 100%;
    transition: all 0.3s ease-in-out; }
    .contenidoPrincipalContacto img:hover {
      transform: scale(1.15);
      opacity: 0.8; }

.contenedorEdificio {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pie pie pie";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  animation-name: contenedorEdificio;
  animation-duration: 3s; }

@keyframes contenedorEdificio {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.contenedorEdificio {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pie pie pie";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  animation-name: contenedorEdificio;
  animation-duration: 3s; }

@keyframes contenedorEdificio {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.contenidoPrincipalEdificio {
  grid-area: ppal;
  display: grid;
  grid-template-areas: "titulo titulo" "cuadro ." "boton .";
  grid-template-rows: 5vh 70vh 10vh;
  grid-template-columns: 70% 30%; }
  .contenidoPrincipalEdificio h2 {
    grid-area: titulo;
    margin-top: 1px;
    margin-left: 12vw; }
  .contenidoPrincipalEdificio .ubicacion {
    grid-area: cuadro;
    background-color: white;
    height: 40vh;
    width: 20vw;
    padding: 2vw;
    margin-top: 10vh;
    margin-left: 12vw;
    display: grid;
    grid-template-areas: "ubicacion ubicacion" "direccion direccion" "cp cp" "email email" "contactate contactate" "llamar llamar";
    grid-template-rows: 10vh 5vh 5vh 5vh 10vh 5vh; }
    .contenidoPrincipalEdificio .ubicacion .tituloUbicacion {
      grid-area: ubicacion;
      font-size: 3.2vh; }
    .contenidoPrincipalEdificio .ubicacion .tituloDireccion {
      grid-area: direccion;
      font-size: 2.5vh; }
    .contenidoPrincipalEdificio .ubicacion .tituloCp {
      grid-area: cp;
      font-size: 2.5vh; }
    .contenidoPrincipalEdificio .ubicacion .tituloEmail {
      grid-area: email;
      font-size: 2.5vh; }
    .contenidoPrincipalEdificio .ubicacion .tituloContactate {
      grid-area: contactate;
      font-size: 2.5vh; }
    .contenidoPrincipalEdificio .ubicacion .tituloLlamar {
      grid-area: llamar;
      font-size: 3.2vh;
      text-decoration: none;
      color: black; }
      .contenidoPrincipalEdificio .ubicacion .tituloLlamar strong {
        background-color: #FFC229;
        padding: 1vh;
        border-radius: 2px; }
        .contenidoPrincipalEdificio .ubicacion .tituloLlamar strong:hover {
          transform: scale(1.05);
          opacity: 0.8; }

.contenedorEdificio {
  display: grid;
  grid-template-areas: "logo . nav" "ppal ppal ppal" "pie pie pie";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 50% 25% 25%;
  animation-name: contenedorEdificio;
  animation-duration: 3s; }

@keyframes contenedorEdificio {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.piePaginaEdificio {
  grid-area: pie;
  display: grid;
  grid-template-areas: "rrss copy";
  grid-template-columns: 20% 80%;
  animation-name: colorTexto;
  animation-duration: 5s; }
  .piePaginaEdificio ul {
    grid-area: rrss;
    display: flex;
    justify-self: right;
    margin-right: 5vw;
    list-style: none;
    align-self: center;
    transition: all 0.3s ease-in-out; }
  .piePaginaEdificio li a svg {
    transition: all 0.3s ease-in-out; }
    .piePaginaEdificio li a svg:hover {
      opacity: 0.8;
      transform: scale(1.05); }
  .piePaginaEdificio h2 {
    grid-area: copy;
    font-size: 2vh;
    font-weight: 300;
    align-self: center;
    color: black; }

* {
  padding: 0%;
  margin: 0%;
  font-family: "Lato", sans-serif; }

/*INDEX*/
/*Imagen principal*/
.imagenPrincipal {
  position: absolute;
  width: 98.93vw; }
  .imagenPrincipal img {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    animation-name: contenedor;
    animation-duration: 4s; }

.imagenPrincipalContacto {
  position: absolute;
  width: 98.93vw;
  margin-top: 17vh; }
  .imagenPrincipalContacto img {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    animation-name: contenedor;
    animation-duration: 4s; }

.imagenPrincipalEdificio {
  position: absolute;
  width: 98.93vw;
  margin-top: 17vh; }
  .imagenPrincipalEdificio img {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    animation-name: contenedor;
    animation-duration: 4s; }
