footer {
  grid-area: pie;
  display: grid;
  grid-template-areas: "rrss copy";
  grid-template-columns: 45% 55%;
  animation-name: colorTexto;
  animation-duration: 5s; }
  footer ul {
    grid-area: rrss;
    display: flex;
    justify-self: right;
    margin-right: 8vw;
    list-style: none;
    align-self: center;
    transition: ease-out 0.5s; }
  footer li a {
    transition: all .2s ease-in-out; }
    footer li a svg:hover {
      opacity: 0.5;
      transform: scale(1.1); }
  footer h2 {
    grid-area: copy;
    font-size: 2vh;
    font-weight: 300;
    align-self: center;
    color: black; }

header {
  grid-area: logo;
  align-self: center;
  margin-left: 12vw; }
  header img {
    width: 20%;
    transition: ease-out 0.5s;
    animation-name: colorTexto;
    animation-duration: 3s; }
    header img:hover {
      opacity: 0.5; }

nav {
  grid-area: nav;
  align-self: center;
  justify-self: right;
  margin-right: 1vw;
  animation-name: colorTexto;
  animation-duration: 3s; }
  nav ul {
    display: flex;
    list-style: none; }
    nav ul li {
      transition: ease-out 0.2s; }
      nav ul li:hover {
        transform: scale(1.03); }
        nav ul li:hover .subMenu {
          display: block; }
      nav ul li a {
        padding: 1.5vh;
        font-size: 2.2vh;
        text-decoration: none;
        color: black;
        transition: ease-out 0.5s; }
        nav ul li a:hover {
          opacity: 0.5; }
      nav ul li ul {
        display: none;
        list-style: none;
        position: absolute; }
        nav ul li ul li {
          margin-top: 2vh;
          justify-self: left; }

main {
  grid-area: ppal;
  display: grid;
  grid-template-areas: ". . residencial" ". . edificio" ". . proy" ". . wa" "quienes texto texto" "project project project";
  grid-template-rows: 40vh 15vh 10vh 30vh 60vh 60vh;
  grid-template-columns: 30% 40% 30%; }
  main h3 {
    font-weight: 600;
    grid-area: residencial;
    align-self: end;
    animation-name: colorTexto;
    animation-duration: 3s; }
  main h1 {
    font-size: 7vh;
    font-weight: 900;
    grid-area: edificio;
    align-self: start;
    animation-name: colorTexto;
    animation-duration: 3s; }
  main .tituloVerProyecto {
    font-size: 2.5vh;
    font-weight: 500;
    text-decoration: none;
    color: black;
    grid-area: proy;
    align-self: start;
    transition: ease-out 0.5s;
    animation-name: colorTexto;
    animation-duration: 5s; }
    main .tituloVerProyecto:hover {
      opacity: 0.5;
      font-size: 2.6vh; }
  main .lineaDivisoria {
    position: absolute;
    margin-top: 110vh;
    justify-self: center;
    background-color: black;
    height: 0.5px;
    width: 50vw;
    opacity: 0.3; }
  main h2 {
    grid-area: quienes;
    align-self: start;
    margin-top: 20vh;
    margin-left: 5vw;
    font-size: 5vh; }
  main .textoQuienes {
    margin-top: 20vh;
    margin-left: 40vh;
    margin-right: 20vh;
    grid-area: texto;
    align-self: start; }
    main .textoQuienes h6 {
      opacity: 0.5; }
    main .textoQuienes .parrafoUno {
      margin-top: 2vh;
      font-weight: 600;
      font-size: 2.2vh; }
    main .textoQuienes .parrafoDos {
      font-size: 2vh;
      margin-top: 3vh;
      margin-bottom: 4vh;
      column-count: 2;
      column-gap: 50% 50%; }
    main .textoQuienes a {
      color: black;
      font-weight: 400;
      font-size: 2.2vh;
      transition: ease-out 0.5s; }
      main .textoQuienes a:hover {
        opacity: 0.5; }
  main .lineaDivisoriaDos {
    position: absolute;
    margin-top: 160vh;
    justify-self: center;
    background-color: black;
    height: 0.5px;
    width: 50vw;
    opacity: 0.3; }
  main .projectsMain {
    grid-area: project;
    display: grid;
    grid-template-areas: "titulo projectOne projectTwo" "texto projectOne projectTwo";
    grid-template-rows: 40% 60%;
    grid-template-columns: 25% 37.5% 37.5%; }
    main .projectsMain .projectsTitulo {
      grid-area: titulo;
      align-self: start;
      margin-top: 10vh;
      margin-left: 5vw;
      font-size: 4.5vh; }
    main .projectsMain .projectsParrafo {
      grid-area: texto;
      margin-left: 5vw;
      justify-self: center;
      font-weight: 500;
      font-size: 2vh; }
      main .projectsMain .projectsParrafo a {
        color: black;
        font-weight: 600;
        font-size: 2vh; }
        main .projectsMain .projectsParrafo a:hover {
          opacity: 0.5; }
    main .projectsMain .projectOne {
      grid-area: projectOne;
      margin-top: 12vh;
      margin-left: 5vw; }
      main .projectsMain .projectOne a {
        transition: ease-out 0.5s; }
        main .projectsMain .projectOne a:hover {
          opacity: 0.5; }
        main .projectsMain .projectOne a img {
          width: 100%; }
      main .projectsMain .projectOne .tituloProjectOne {
        font-size: 2vh;
        margin-top: 2vh; }
      main .projectsMain .projectOne .ubicacionProjectOne {
        margin-top: 1vh;
        opacity: 0.3; }
    main .projectsMain .projectTwo {
      grid-area: projectTwo;
      margin-top: 12vh;
      margin-left: 5vw; }
      main .projectsMain .projectTwo a {
        transition: ease-out 0.5s; }
        main .projectsMain .projectTwo a:hover {
          opacity: 0.5; }
        main .projectsMain .projectTwo a img {
          width: 100%; }
      main .projectsMain .projectTwo .tituloProjectTwo {
        font-size: 2vh;
        margin-top: 2vh; }
      main .projectsMain .projectTwo .ubicacionProjectTwo {
        margin-top: 1vh;
        opacity: 0.3; }
  main .logoWhatsapp {
    position: fixed;
    margin-left: 90vw;
    margin-top: 75vh;
    animation-name: colorTexto;
    animation-duration: 3s; }
    main .logoWhatsapp img {
      width: 90%;
      transition: all .2s ease-in-out; }
      main .logoWhatsapp img:hover {
        opacity: 0.8;
        transform: scale(1.05); }

footer {
  grid-area: pie;
  display: grid;
  grid-template-areas: "rrss copy";
  grid-template-columns: 45% 55%;
  animation-name: colorTexto;
  animation-duration: 5s; }
  footer ul {
    grid-area: rrss;
    display: flex;
    justify-self: right;
    margin-right: 8vw;
    list-style: none;
    align-self: center;
    transition: ease-out 0.5s; }
  footer li a {
    transition: all .2s ease-in-out; }
    footer li a svg:hover {
      opacity: 0.5;
      transform: scale(1.1); }
  footer h2 {
    grid-area: copy;
    font-size: 2vh;
    font-weight: 300;
    align-self: center;
    color: black; }

* {
  padding: 0%;
  margin: 0%;
  font-family: "Lato", sans-serif; }

/*INDEX*/
/*Imagen principal*/
.imagenPrincipal {
  position: absolute;
  width: 98.93vw; }
  .imagenPrincipal img {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    animation-name: contenedor;
    animation-duration: 4s; }

.logoMyle {
  width: 20%;
  transition: ease-out 0.5s;
  animation-name: colorTexto;
  animation-duration: 3s; }
  .logoMyle:hover {
    opacity: 0.5; }

.letraFuerte {
  font-weight: 900; }
