@import "base/variables";
@import "base/lista";
@import "index/footer";
@import "index/header";
@import "index/navegador";
@import "index/main";
@import "index/footer";
@import "nosotros/contenedor-nosotros";
@import "nosotros/main-nosotros";

*{
    padding: 0%;
    margin: 0%;
    font-family: $fuente-principal;
}

/*INDEX*/
/*Imagen principal*/
.imagenPrincipal{
    position: absolute;
    width: 98.93vw;
    img{
        position: absolute;
        z-index: -1;
        max-width: 100%;
        animation-name: contenedor;
        animation-duration: 4s;
    }
}