@import "base/variables";
@import "base/lista";

.contenedorProyectos{
    display: grid;
    grid-template-areas: "logo . nav"
                        "ppal ppal ppal"
                        "pieProy pieProy pieProy";
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-columns: 50% 25% 25%;
    background-color: nth($colores, 2);
    animation-name: contenedorProyectos;
    animation-duration: 3s;
}

@keyframes contenedorProyectos{
    0%{
        opacity: 0.0;
    }

    100%{
        opacity: 1;
    }
}

/*MEDIAQUERIES*/
@media only screen and (min-width: 360px) and (max-width: 820px){
    .contenedorProyectos{
        grid-template-areas: "logo nav"
                             "ppal ppal"
                             "pieProy pieProy";
        grid-template-columns: 50% 50%;
    }
}