@import "base/variables";
@import "base/lista";
@import "proyectos/contenedor-proyectos";

.contenidoPrincipalProyectos{
    grid-area: ppal;
    display: grid;
    grid-template-areas: ". nuestros ."
                         ". proyectos ."
                         ". img .";
    grid-template-rows: 5vh 8vh 72vh;
    grid-template-columns: 12vw 76vw 12vw;
    h3{
        font-weight: $grosor-n3;
        grid-area: nuestros;
        align-self: start;
        animation-name: colorTexto;
        animation-duration: 3s;
    }
    h1{
        font-size: $fuente-n6;
        font-weight: $grosor-n4;
        grid-area: proyectos;
        align-self: end;
        animation-name: colorTexto;
        animation-duration: 3s;
    }
    .carousel{
        height: 72vh;
        grid-area: img;
        animation-name: carousel;
        animation-duration: 3s;
        div{
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
}