// tamaños //
$altura-principal: 100vh;

// colores //
$color-texto-principal:black;
$color-texto-secundario:white;

// fuente //
$fuente-principal: 'Lato', sans-serif;

// tamaño de fuente //
$fuente-grande: 7vh;
$fuente-mediana: 5vh;
$fuente-chica: 2.5vh;
$fuente-minima: 2vh;

// grosor de fuerte //
$grosor-ancho: 900;
$grosor-mediano: 500;
$grosor-fino: 300;

// opacidad //
$opacidad50: 0,5;

// línea divisoria //
$altura-divisor: 110vh
