@import "index/contenedor";

header {
    grid-area: logo;
    align-self: center;
    margin-left: 12vw;
    img{
        width: 25%;
        transition: $transicion-por-defecto;
        animation-name: colorTexto;
        animation-duration: $duracion-por-defecto;
        &:hover{
            opacity: 0.5;
        }
    }
}