@import "base/variables";
@import "base/lista";
@import "index/contenedor";

/*Contenido principal*/
main{
    grid-area: ppal;
    display: grid;
    grid-template-areas: ". . residencial"
                         ". . edificio"
                         ". . proy"
                         ". . wa"
                         "quienes texto texto"
                         "project project project";
    grid-template-rows: 40vh 15vh 10vh 30vh 60vh 60vh;
    grid-template-columns: 30% 40% 30%;
    /*Título secundario - Residencial*/
    h3{
        font-weight: $grosor-n3;
        grid-area: residencial;
        align-self: end;
        animation-name: colorTexto;
        animation-duration: $duracion-por-defecto;
    }
    /*Título principal - Edificio A1*/
    h1{
        font-size: $fuente-n6;
        font-weight: $grosor-n4;
        grid-area: edificio;
        align-self: start;
        animation-name: colorTexto;
        animation-duration: $duracion-por-defecto;
    }
    /*Botón Ver proyecto*/
    .tituloVerProyecto{
        font-size: $fuente-n3;
        font-weight: $grosor-n2;
        text-decoration: none;
        color: nth($colores, 1);
        grid-area: proy;
        align-self: start;
        transition: $transicion-por-defecto;
        animation-name: colorTexto;
        animation-duration: $duracion-por-defecto + 2s;
        &:hover{
            opacity: 0.5;
            font-size: $fuente-n3 + 0.05vh;
        }
    }

    /*Línea divisoria*/
    .lineaDivisoria {
        position: absolute;
        margin-top: $altura-divisor;
        justify-self: center;
        background-color: nth($colores, 1);
        height: 0.5px;
        width: 50vw;
        opacity: 0.3;
    }

    /* Título Sobre Nosotros*/
    h2{
        grid-area: quienes;
        align-self: start;
        margin-top: 20vh;
        margin-left: $margen-lateral-principal;
        font-size: $fuente-n5;
    }
    /*Párrafos sobre nosotros*/
    .sobreNosotrosTexto{
        margin-top: 20vh;
        margin-left: 40vh;
        margin-right: 20vh;
        grid-area: texto;
        align-self: start;
        /*Primer título*/
        h6{
            font-size: $fuente-n0;
            opacity: 0.5;
        }
        /*Párrafo principal*/
        .parrafoUno{
            margin-top: 2vh;
            font-weight: $grosor-n3;
            font-size: $fuente-n2;
        }
        /*Párrafo secundario*/
        .parrafoDos{
            font-size: $fuente-n1;
            margin-top: 3vh;
            margin-bottom: 4vh;
            column-count: 2;
            column-gap: 50% 50%;
        }
        /*Botón conocer más*/
        a{
            color: nth($colores, 1);
            font-weight: $grosor-n1;
            font-size: $fuente-n2;
            transition: $transicion-por-defecto;
            &:hover{
                opacity: $opacidad-por-defecto;
                font-size: $fuente-n2 + 0.05vh;
            }
        }
    }

    /*Línea divisoria*/
    .lineaDivisoriaDos {
        position: absolute;
        margin-top: $altura-divisor + 50vh;
        justify-self: center;
        background-color: nth($colores, 1);
        height: 0.5px;
        width: 50vw;
        opacity: 0.3;
    }

    /*Nuestro proyectos*/
    .projectsMain{
        grid-area: project;
        display: grid;
        grid-template-areas: "titulo projectOne projectTwo"
                             "texto projectOne projectTwo";
        grid-template-rows: 40% 60%;
        grid-template-columns: 25% 37.5% 37.5%;
        /*Títulos proyectos*/
        .projectsTitulo{
            grid-area: titulo;
            align-self: start;
            margin-top: 10vh;
            margin-left: $margen-lateral-principal;
            font-size: $fuente-n4;
        }
        /*Párrafo explicativo de nuestros proyectos*/
        .projectsParrafo{
            grid-area: texto;
            margin-left: $margen-lateral-principal;
            justify-self: center;
            font-weight: $fuente-n3;
            font-size: $fuente-n1;
            /*Botón ver proyectos*/
            a{
                color: nth($colores, 1);
                font-weight: $grosor-n3;
                font-size: $fuente-n1;
                transition: $transicion-por-defecto;
                &:hover{
                    opacity: $opacidad-por-defecto;
                    font-size: $fuente-n1 + 0.05vh;
                }
            }
        }
        /*Primer proyecto*/
        .projectOne{
            grid-area: projectOne;
            margin-top: 12vh;
            margin-left: $margen-lateral-principal;
            a{
                img{
                    transition: $transicion-por-defecto;
                    width: 100%;
                    &:hover{
                        opacity: $opacidad-secundaria;
                        transform: scale(1.02);}
                }
            }
            /*Nombre del proyecto*/
            .tituloProjectOne{
                font-size: $fuente-n1;
                margin-top: 2vh;
            }
            /*Nombre de la ubicación del proyecto*/
            .ubicacionProjectOne{
                margin-top: 1vh;
                opacity: 0.3;
            }
        }
        /*Segundo proyecto*/
        .projectTwo{
            grid-area: projectTwo;
            margin-top: 12vh;
            margin-right: $margen-lateral-principal;
            a{
                img{
                    width: 100%;
                    transition: $transicion-por-defecto;
                    &:hover{
                        opacity: $opacidad-secundaria;
                        transform: scale(1.02);}
                }
            }
            /*Nombre del proyecto*/
            .tituloProjectTwo{
                font-size: $fuente-n1;
                margin-top: 2vh;
            }
            /*Nombre de la ubicación del proyecto*/
            .ubicacionProjectTwo{
                margin-top: 1vh;
                opacity: 0.3;
            }
        }
    }

    /*Línea divisoria*/
    .lineaDivisoriaTres {
        position: absolute;
        margin-top: $altura-divisor + 105vh;
        justify-self: center;
        background-color:  nth($colores, 1);
        height: 0.5px;
        width: 50vw;
        opacity: 0.3;
    }

    /*Logo de WhatsApp*/
    .logoWhatsapp{
        position: fixed;
        margin-left: 90vw;
        margin-top: 75vh;
        animation-name: colorTexto;
        animation-duration: $duracion-por-defecto;
        img{
            width: 90%;
            transition: $transicion-por-defecto;
            &:hover{
                opacity: $opacidad-secundaria;
                transform: scale(1.05);
            }
        }
    }
}